<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>com.casezero.dashboard</string>
  <key>ProgramArguments</key>
  <array>
    <string>/bin/bash</string>
    <string>-lc</string>
    <string>cd /Users/ravinair/Documents/GitHub/casezero-mvp &amp;&amp; bash ./start.sh</string>
  </array>
  <key>RunAtLoad</key>
  <true/>
  <key>KeepAlive</key>
  <true/>
  <key>WorkingDirectory</key>
  <string>/Users/ravinair/Documents/GitHub/casezero-mvp</string>
  <key>StandardOutPath</key>
  <string>/Users/ravinair/Documents/GitHub/casezero-mvp/.casezero.log</string>
  <key>StandardErrorPath</key>
  <string>/Users/ravinair/Documents/GitHub/casezero-mvp/.casezero.err</string>
</dict>
</plist>
